#header{
    height: 80px;
    background: whitesmoke;
    padding: 0px;
    margin: 0px;
    display: flex;
    

}

#codeSection{
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: space-evenly;
}

textarea{
    height: 98%;
    width: 98%;
    display: flex;
}

#output{
    height: 98%;
    width: 98%;
    display: flex;
}

button{
    margin: 6px -6px;
    width: 130px;
    height: 70px;
    float: left;
}

#buttonContainer{
    margin: 0 auto;
}